
.calculadora { border: 3px green ridge; width: 250px;text-align: center;
    background-color: #000000; }
.calculadora2 { border: 3px black; width: 250px;text-align: center;
    background-color: #000000; }
.calculadora3 { border: 3px green ridge; width: 250px;text-align: center;
    background-color: #09cf24; }
